{% extends "home/base.html" %}

{% block content %} 
<div class="container" id="search">
    <form action="#" method="POST">
        <label for="ip_address" class="form-label">Server IP Address</label>
<input type="text" id="ip_address" class="form-control" aria-describedby="ipHelpBlock">
<div id="ipHelpBlock" class="form-text">
Enter the IP address of what you are searching for.</div>
    </form>
    <br>
</div>
<div class="container" id="listing">
    <div class="accordion" id="bluetoothdevices">
        {% for device in devices %}
        <h2 class="accordion-header" id="sensor1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                {{device.sensor}}
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
          {% endfor %}
    </div>

    <!-- {% for device in devices %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ device.device_name }}<span class="badge bg-success">New</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ device.device_type }}</h6>
          <a href="#" class="btn btn-info">Get Info</a>
        </div>
    </div>
    {% endfor %} -->
    
</div>
<br>
<div class="container" id="commands">
    
        <button type="button" class="btn btn-primary">Enable Bluetooth</button>
        
        <button type="button" class="btn btn-primary">Start Scan</button>
        
        <button type="button" class="btn btn-primary">Use SDP Tools</button>
       
    
</div>
<!-- <hr size="8" width="90%" color="red"> -->
<div class="container" id="output">
    <hr size="8" width="90%" color="red">
    <code>
        Output of commands <br>
        Down Here
    </code>
</div>
{% endblock %}
