{% extends "home/base.html" %}
{% load static %}

{% block css %} 
.link {
  stroke: #aaa;
}

.node text {
stroke:#333;
cursos:pointer;
}

.node circle{
stroke:#fff;
stroke-width:3px;
fill:#555;
}
{% endblock %}

{% block content %}
<div class="row">
<div class="col">
  <div id="network">
  </div>
</div>
</div>
<div class="row">
<div class="col">
  <div id="Vulnerabilities">
    <h4>Vulnerable Devices</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Device</th>
          <th>CVE-ID</th>
          <th>CVE Description</th>
        </tr>
      </thead>
      <tbody>
        {% for v in vulnerabilities %}
        <tr>
          <td>{{ v.device }}</td>
          <td><a href="{% url 'vulnerability_detail' v.cve_vulnerability %}">{{ v.cve_vulnerability }}</a></td>
          <td>{{ v.cve_vulnerability.cve_description|truncatechars:80 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<nav aria-label="Page navigation example">
  {% if vulnerabilities.has_other_pages %}
  <ul class="pagination pagination-sm">
    {% if vulnerabilities.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ vulnerabilities.previous_page_number }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% endif %}
    {% for i in vulnerabilities.paginator.page_range %}
      {% if vulnerabilities.number == i %}
      <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if vulnerabilities.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ vulnerabilities.next_page_number }}">Next</a></li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</nav>
</div>
{% endblock %}

{% block script %}
<script>
  var width = 1000,
    height = 500

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

var force = d3.layout.force()
    .gravity(.03)
    .distance(100)
    .charge(-200)
    .size([width, height]);

d3.json("{% url 'devices' %}", function(json) {
  force
      .nodes(json.nodes)
      .links(json.links)
      .start();

  var link = svg.selectAll(".link")
      .data(json.links)
    .enter().append("line")
      .attr("class", "link")
    .style("stroke-width", function(d) { return Math.sqrt(d.weight); });

  var node = svg.selectAll(".node")
      .data(json.nodes)
    .enter().append("g")
      .attr("class", "node")
      .call(force.drag);

  node.append("circle")
      .attr("r","7");

  node.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .text(function(d) { return d.name });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });
});
</script>
{% endblock %}