{% extends "home/base.html" %}

{% block content %} 
<div class="container" id="search">
    <form action="#" method="POST">
        <label for="ip_address" class="form-label">Server IP Address</label>
<input type="text" id="ip_address" class="form-control" aria-describedby="ipHelpBlock">
<div id="ipHelpBlock" class="form-text">
Enter the IP address of what you are searching for.</div>
    </form>
    <br>
</div>
<div class="container" id="listing">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sensor</th>
                <th scope="col">Device Name</th>
                <th scope="col">Device Type</th>
                <th scope="col">Device MAC</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices%}
            <tr>
                <td>{{device.sensor}}</td>
                <td>{{device.device_name}}</td>
                <td>{{device.device_type}}</td>
                <td>{{device.device_mac}}</td>
                <td>{{device.creation_date}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-info">Info</button>
                        <button type="button" class="btn btn-warning">Exploit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                      </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <!-- {% for device in devices %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ device.device_name }}<span class="badge bg-success">New</span></h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ device.device_type }}</h6>
          <a href="#" class="btn btn-info">Get Info</a>
        </div>
    </div>
    {% endfor %} -->
    
</div>
<br>
<div class="container" id="commands">
    
        <button type="button" class="btn btn-primary">Enable Bluetooth</button>
        
        <button type="button" class="btn btn-primary">Start Scan</button>
        
        <button type="button" class="btn btn-primary">Use SDP Tools</button>
       
    
</div>
<!-- <hr size="8" width="90%" color="red"> -->
<div class="container" id="output">
    <hr size="8" width="90%" color="red">
    <code>
        Output of commands <br>
        Down Here
    </code>
</div>
{% endblock %}
